html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
    
}
    *, *:before, *:after {
    box-sizing: inherit;
   
}

body{

    background-color: #F0F4F8;
    color: #000;
    font-size: 2rem;
    font-family: "Poppins";
    line-height: 1;
}

h1, h2, h3{
    font-family: "Poppins", serif;
}

h1{
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1rem;
}

/* Estilos nav - button*/
nav {

    display: flex;
    justify-content: center;
    background-color: #2C3E50; 
    padding: 1.5rem;
    border-radius: 3px;
}

nav button {

    margin: 0 10px;
    background-color: #ce1905; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Poppins";
}

nav button:hover {
    background-color: #b11301; /* Un poco más oscuro al pasar el ratón */
}

