html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
    
}
    *, *:before, *:after {
    box-sizing: inherit;
   
}

body{
    background-color: #2E2E2E;
    color: #fff;
    font-size: 2rem;
    font-family: "Poppins";
}

